TAKOMI_APP_NAME=Takomidx
TAKOMI_DATA_DIR=.takomi
TAKOMI_PREVIEW_DOMAIN=takomi.localhost
TAKOMI_RUNTIME_BACKEND=container
TAKOMI_EDITOR_TARGET=vscode

NEXT_PUBLIC_TAKOMI_AGENTD_BASE_URL=http://127.0.0.1:4000
NEXT_PUBLIC_TAKOMI_PREVIEW_DOMAIN=takomi.localhost

TAKOMI_AGENTD_HOST=127.0.0.1
TAKOMI_AGENTD_PORT=4000
